# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model checkpoints
*.pth
*.tar
*.h5
*.pb

# IDE files
.vscode/
.idea/
*.swp

# Dataset 
data/
age/
cancer/
auto-cpufreq/
radiological-innovations-hand-xray/
